jupyter
notebook
pyowm
toml
pydantic
sqlalchemy
pytest
pyyaml
numpy
lark
freezegun
responses
pandas
aiohttp
duckdb
requests
tenacity
numexpr
packaging
langchain
uvicorn
fastapi
transformers
redis
openai
regex
chromadb
faiss-cpu~=1.7.1